@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
*, *:after, *:before {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, html {
  width: 100%; }

body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/my-database01.appspot.com/o/pattern.jpg?alt=media&token=1ab25825-dbe1-4154-a1b4-fe08441a5916");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4vw 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  transition: opacity 0.3s; }

.card {
  width: 30vw;
  height: 30vw;
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 9px 0 rgba(255, 255, 255, 0.3); }

.card__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vw;
  height: 4vw;
  color: #0052D4;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s; }
  .card__close:hover {
    background-color: white; }

.container {
  background-color: #fff;
  width: 55vw;
  margin: 0 auto;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 2vw; }

.title {
  text-align: center;
  color: #7cabbb;
  margin: 0 0 1vw 0;
  font-size: 1.5rem; }

.desc {
  font-size: 1.1rem;
  margin: 0 0 1vw 0; }

form.survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem; }

.input__container {
  display: flex;
  margin: 0 0 1.5vw 0;
  width: 100%; }

.left, .right {
  flex: 0 0 50%; }

.left {
  text-align: right;
  padding: 0 1vw 0 0; }

.right {
  padding: 0 0 0 1vw;
  display: flex;
  flex-direction: column; }

input[type="text"], input[type="number"], input[type="email"], textarea, select {
  padding: 0.5vw 1vw;
  width: 100%;
  font-size: 1.1rem; }

.submit-btn {
  padding: 0.5vw 2vw;
  font-size: 1.2rem;
  border: none;
  background: #00B4DB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  cursor: pointer;
  margin: 0 0 1vw 0; }
